// contacts start

.contacts{
    position: relative;

    &__cart__title__h2{
        @include fontAll(1.5rem,600,$title);
        line-height: 125%;
        margin-bottom: 20px;
        text-align: center;
    }

    &__list{
        border-top: 15px solid $fon;
        position: relative;
        height: 700px;
        width: 100%;
        margin-top: -75px;
        display: flex;
        align-items:center;
        overflow: hidden;
    }

    &__menu{

        .contacts__menu__item + .contacts__menu__item {
            margin-top: 20px;
        }

        .active{
            .contacts__menu__list{
                width: auto;
                height: auto;
                overflow: inherit;
                opacity: 1;
                margin-top: 10px;
            }

            .contacts__menu__title__h3{
                span{
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
            }
                
        }
    }

    &__cart__menu{
        background-color:$max;
        padding: 25px 20px;
        box-shadow: 0px 15px 30px 0px rgba(9, 52, 117, 0.15);
        width: 280px;
        height: 80%;
        margin-left: 60px;
        position: relative;
        z-index: 1;
        flex: 0 0 280px;
    }

    &__menu__item{
        border:1px solid #ced4da;
        width: 100%;
        border-radius: 5px;
        padding: 10px 15px;

        .contacts__menu__list {
            .contacts__map__active{
                a{
                    color:$fon;
                }
            }
        }

        .contacts__menu__list {
            li{
                a{
                    @extend%transition;
                    &:hover{
                        color:$fon;
                    }
                }
            }
        }
    }

    &__menu__list{
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        @extend%transition;

        li{
            position: relative;
            a{
                color:$title;
                font-weight: 500;
                color:$title;
            }
        }

        li+li{
            margin-top: 10px;
        }
    }

    &__menu__title__h3{
        @include fontAll(1rem,500,$text);
        line-height: 125%;
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }

    &__map{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 0;
    }

    &__map__item{
        iframe{
            width: 100%;
            height: 700px;
        }
    }

    &__map__contacts__item{
        width: 450px;
        height: 100%;
        background-color:$max;
        position: absolute;
        right: -100%;
        top: 0;
        z-index: -10;
        opacity: 0;
        padding: 20px;
        @extend%transition;
        box-shadow: -9px 0px 30px 0px rgb(9 52 117 / 15%);
    }

    &__map__contacts__menu{
        display: flex;
        align-items:flex-start;
        grid-gap: 15px;
        flex-direction: column;

        li{
            a{
                @include fontAll(1rem,400,#747474);
                line-height: 125%;
                display: block;
            }
        }
    }

    &__title__contacts{
        @include fontAll(1rem,600,$text);
        line-height: 125%;
    }

    &__map__contacts__none{
        @include fontAll(1rem,600,$title);
        line-height: 100%;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color:#e6eaf1;
        width: 20px;
        height: 20px;
        border-radius:33px;
        -webkit-border-radius:33px;
        -moz-border-radius:33px;
        -ms-border-radius:33px;
        -o-border-radius:33px;
    }

    &__title__h3__contacts{
        @include fontAll(1.5rem,600,$title);
        line-height: 125%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &__map__cart{
        width: 100%;
        height: auto;
    }
}

.contacts__cart__menu{
    overflow-y: auto;
}

.contacts__cart__menu::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contacts__cart__menu::-webkit-scrollbar-track {
    background: $max;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contacts__cart__menu::-webkit-scrollbar-thumb {
    background: $title;
    height: 4px;
    border-radius: 50px;
}



.contacts__map__contacts__item{
    overflow-y: auto;
}

.contacts__map__contacts__item::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contacts__map__contacts__item::-webkit-scrollbar-track {
    background: $max;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contacts__map__contacts__item::-webkit-scrollbar-thumb {
    background: $title;
    height: 4px;
    border-radius: 50px;
}

// contacts end

@media (max-width:1150px){
    .contacts__cart__title__h2,
    .contacts__title__h3__contacts{
        font-size: 1.375rem;
    }
}

@media (max-width:1000px){
    .contacts__map{
        position: relative;
    }

    .contacts__list{
        flex-direction: column;
        height: auto;
    }

    .contacts__cart__menu{
        width: -webkit-fill-available;
        height: 100%;
        margin: 10px 35px;
        flex: auto;
    }

    .contacts__map,
    .contacts__map__item iframe{
        height: 450px;
    }

    .contacts__map__cart{
        position: relative;
    }
    
}

@media (max-width:750px){
    .contacts__map__contacts__item{
        width: 300px;
        padding: 20px 15px;
    }

    .contacts__cart__title__h2,
    .contacts__title__h3__contacts{
        font-size: 1.25rem;
    }

    .contacts__map__contacts__menu{
        grid-gap: 10px;
    }

    .contacts__map,
    .contacts__map__item iframe{
        height: 350px;
    }

    .contacts__cart__menu{
        padding: 10px 10px;
    }

    .contacts__list{
        border-top:8px solid $fon;
    }
}